In [2]:
import pandas as pa
import itertools
import csv
names_col = ['SW_score',"perc_div","perc_del","perc_ins", "query_seq", "pos_query_begin", "pos_query_end", "pos_query_left","strand", "matching_repeat", "repeat_class_family", "pos_in_repeat_begin", "pos_in_repeat_end", "pos_in_repeat_left", "ID","star"]

In [15]:
data = pa.read_csv("/home/tkastylevsky/FASTA_files/Gallus_gallus.GRCg6a.dna.chromosome.16.fa.out",header = None, skiprows = 2, sep = '\s+', names = names_col)
data['strand'] = data['strand'].replace('C','-')
ref = pa.read_csv("/home/tkastylevsky/FASTA_files/chkchr16_refgalGal6", sep = '\s+')
ref = ref.drop(["#bin","repFamily"], axis = 1)
ref.insert(15,"star", 'NaN')
ref.columns = names_col
ref.insert(16,"Type", 'Ref')
data.insert(16, "Type", 'Data')

In [21]:
analysis_df = data.append(ref)
analysis_df.insert(17,"ID_2",list(range(0, len(analysis_df))))

In [31]:
analysis_df['intersect'] = analysis_df.apply(lambda row: len(analysis_df[ ( ( (row.pos_query_begin <= analysis_df.pos_query_begin) & (analysis_df.pos_query_begin <= row.pos_query_end) ) \
                                            | ( (analysis_df.pos_query_begin <= row.pos_query_begin) & (row.pos_query_begin <= analysis_df.pos_query_end) ) )
                           & (row.ID_2 != analysis_df.ID_2) & (row.Type != analysis_df.Type) & (row.repeat_class_family == analysis_df.repeat_class_family) ]),axis=1)

In [37]:
analysis_df[0:30]
analysis_df[analysis_df['intersect'] !=0 ]

,SW_score,perc_div,perc_del,perc_ins,query_seq,pos_query_begin,pos_query_end,pos_query_left,strand,matching_repeat,repeat_class_family,pos_in_repeat_begin,pos_in_repeat_end,pos_in_repeat_left,ID,star,Type,ID_2,intersect
0,24,30.7,0.0,0.0,16,503450,503521,(2341080),+,(CC)n,Simple_repeat,1,72,(0),1,NaN,Data,0,1
1,12,15.6,3.5,0.0,16,524575,524603,(2319998),+,(CCGG)n,Simple_repeat,1,30,(0),2,NaN,Data,1,1
2,15,0.0,0.0,0.0,16,528437,528455,(2316146),+,(CGG)n,Simple_repeat,1,19,(0),3,NaN,Data,2,1
3,13,20.1,2.2,4.5,16,529013,529057,(2315544),+,(CCTTCTC)n,Simple_repeat,1,44,(0),4,NaN,Data,3,1
4,15,7.9,3.7,0.0,16,529232,529258,(2315343),+,(GGC)n,Simple_repeat,1,28,(0),5,NaN,Data,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2324,15,47.0,0.0,0.0,chr16,2832425,2832447,-12154,+,(GGA)n,Simple_repeat,1,22,0,1,NaN,Ref,3983,1
2325,16,161.0,0.0,0.0,chr16,2832505,2832533,-12068,+,G-rich,Low_complexity,1,28,0,1,NaN,Ref,3984,1
2326,13,184.0,70.0,0.0,chr16,2834738,2834781,-9820,+,(GCCGAA)n,Simple_repeat,1,46,0,1,NaN,Ref,3985,1
2327,14,153.0,43.0,43.0,chr16,2840336,2840383,-4218,+,G-rich,Low_complexity,1,47,0,1,NaN,Ref,3986,1
2329,16,132.0,0.0,0.0,chr16,2841517,2841542,-3059,+,(G)n,Simple_repeat,1,25,0,1,NaN,Ref,3988,1

In [38]:
ref

,SW_score,perc_div,perc_del,perc_ins,query_seq,pos_query_begin,pos_query_end,pos_query_left,strand,matching_repeat,repeat_class_family,pos_in_repeat_begin,pos_in_repeat_end,pos_in_repeat_left,ID,star,Type
0,24,307,0,0,chr16,503449,503521,-2341080,+,(CC)n,Simple_repeat,1,72,0,1,NaN,Ref
1,13,141,0,130,chr16,506689,506741,-2337860,+,(GTCACC)n,Simple_repeat,1,46,0,1,NaN,Ref
2,339,278,45,66,chr16,506783,506964,-2337637,+,(CACCAT)n,Simple_repeat,4,180,0,1,NaN,Ref
3,259,133,112,92,chr16,507277,507451,-2337150,+,(CACGT)n,Simple_repeat,3,180,0,1,NaN,Ref
4,567,292,33,5,chr16,507594,508747,-2335854,+,GGXHOI,Satellite,1,1185,-1,1,NaN,Ref
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2325,16,161,0,0,chr16,2832505,2832533,-12068,+,G-rich,Low_complexity,1,28,0,1,NaN,Ref
2326,13,184,70,0,chr16,2834738,2834781,-9820,+,(GCCGAA)n,Simple_repeat,1,46,0,1,NaN,Ref
2327,14,153,43,43,chr16,2840336,2840383,-4218,+,G-rich,Low_complexity,1,47,0,1,NaN,Ref
2328,273,149,101,70,chr16,2840963,2841078,-3523,-,(CCCCATTGGG)n,Satellite,0,120,2,1,NaN,Ref
2329,16,132,0,0,chr16,2841517,2841542,-3059,+,(G)n,Simple_repeat,1,25,0,1,NaN,Ref