In [1]:
import pandas as pa
import numpy as np
import itertools
import csv
import matplotlib.pyplot as plt
import os
import sys

def out_to_csv(path,symbol,chromosome):
    names_col_data = ['SW_score',"perc_div","perc_del","perc_ins", "query_seq", "pos_query_begin", "pos_query_end", "pos_query_left","strand", "matching_repeat", "repeat_class_family", "pos_in_repeat_begin", "pos_in_repeat_end", "pos_in_repeat_left", "TE_"+symbol+"_ID","star"]
    data = pa.read_csv(path,header = None, skiprows = 2, sep = '\s+', names = names_col_data, dtype = str)
    if chromosome != 'whole':
        data = data[data['query_seq']== chromosome]
    if 'chr' not in data.query_seq[1]:
        data.query_seq = 'chr'+ data.query_seq
    data['strand'] = data['strand'].replace('C','-')
    ID = symbol+"_ID"
    data.insert(1,ID,list(range(1,len(data)+1)))
    data.columns = ['SW_score',ID,"perc_div","perc_del","perc_ins", "query_seq", "pos_query_begin", "pos_query_end", "pos_query_left","strand", "matching_repeat", "repeat_class_family", "pos_in_repeat_begin", "pos_in_repeat_end", "pos_in_repeat_left", "TE_"+symbol+"_ID","star"]
    return data

In [2]:


path_data = '/home/tkastylevsky/trash/trash/galgal6_test_avian_lib/galgal6_whole_avianlib.fa.out'
symbol = 'galgal6_libavian'
chromosome = 'whole'
    
    
data = out_to_csv(path_data,symbol,chromosome)

In [3]:
data

,SW_score,galgal6_libavian_ID,perc_div,perc_del,perc_ins,query_seq,pos_query_begin,pos_query_end,pos_query_left,strand,matching_repeat,repeat_class_family,pos_in_repeat_begin,pos_in_repeat_end,pos_in_repeat_left,TE_galgal6_libavian_ID,star
0,558,1,21.5,0.4,5.9,chr1,3,2555,(197605831),+,rnd-1_family-163,Simple_repeat,1,2413,(0),1,NaN
1,444,2,27.9,1.9,5.9,chr1,1607,3424,(197604962),+,rnd-6_family-9536,Unknown,1,536,(65),2,*
2,357,3,28.2,2.4,5.9,chr1,1683,2608,(197605778),+,rnd-6_family-16878,Simple_repeat,1,1449,(532),3,*
3,344,4,22.7,0.3,5.2,chr1,2609,2910,(197605476),+,rnd-1_family-163,Simple_repeat,1,288,(0),4,NaN
4,357,5,28.2,2.4,5.9,chr1,2911,2931,(197605455),+,rnd-6_family-16878,Simple_repeat,1450,1481,(500),3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928369,1081,928370,12.0,0.6,0.0,chrZ,82527904,82528086,(1835),-,rnd-6_family-380,Unknown,(0),381,198,886539,NaN
928370,4429,928371,14.2,0.3,1.4,chrZ,82528087,82528883,(1038),+,rnd-6_family-9555,LINE/CR1,1557,2299,(115),886540,NaN
928371,1371,928372,8.5,0.1,0.5,chrZ,82528837,82529056,(865),-,rnd-6_family-380,Unknown,(180),201,2,886541,*
928372,2270,928373,22.5,2.7,2.3,chrZ,82528989,82529666,(255),-,rnd-5_family-243,LINE/CR1,(61),2321,1764,886542,NaN
928373,1652,928374,13.3,6.3,0.0,chrZ,82529619,82529919,(2),-,rnd-6_family-138,Unknown,(753),2210,1891,886543,*